<!-- <ion-header>
  <ion-toolbar color="thapsblue">
    <ion-title>{{user?.firstname}}</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
	<!-- <p class="results-header">Results</p> -->
	<ion-item >
	
		<ion-slides class="swiper-container ion-border-bottom" pager= false [options]="slideOption" #slidesOne>

			<ion-slide tappable class="swiper-slide" *ngFor="let room of rooms; let i = index" (click)="selectRoom(i)">
				<ion-grid>
					<ion-row class="ion-justify-content-center">
						<ion-col class="ion-no-margin ion-no-padding">
							<p class="ion-no-margin ion-no-padding">
								<ion-text class="price-font ion-no-margin ion-no-padding" color="thapsblue">
									<b>{{room.rent | currency : 'R' : 'symbol' :'1.0-0' }}</b>
								</ion-text>
							</p>
						</ion-col>
					</ion-row>
					<ion-row class="ion-justify-content-center">
						<ion-col class="ion-no-padding ion-no-margin">
							<div class="agent-icon">
								<ion-avatar mode="ios">
									<img class="room-img" src="{{room.display_pic_url}}" (load)="updateRoomPicLoaded(i)" [hidden]="!room.dp_loaded">
									<img class="room-img" src="../../../assets/imgs/plain-gray-background.jpeg" [hidden]="room.dp_loaded">
								</ion-avatar>
								<ion-icon *ngIf="selected_rooms[i] != null" color="danger" class="my-icon" name="checkmark-circle-outline"></ion-icon>
							</div>
						</ion-col>
					</ion-row>
					
					<ion-row class="ion-justify-content-center">
						<ion-col class="ion-no-margin ion-no-padding">
							
								<ion-text class="location-font ion-no-margin ion-no-padding" color="thapsblue" style="overflow: hidden;">
									<b>{{room.room_type}}  </b>
									<!-- {{room.property.address.place_name}} -->
								</ion-text>
						
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-slide>
		</ion-slides>
	</ion-item>
	<ion-grid no-padding>
		<ion-row>
			<ion-list style="background-color:transparent; width: 100%;">
				<div style="margin: 0; padding: 0;" *ngFor="let msg of thread.chat_messages ; let i = index">
					<ion-card class="msg-class" *ngIf="msg.from == user.uid" >
						<div *ngIf="msg?.highlight?.message || msg.rooms.length > 0" class="ion-no-padding ion-no-margin">
							<ion-slides class="swiper-container" pager= false [options]="slideOption" #slidesOne>
								<ion-slide tappable class="swiper-slide ion-no-padding ion-no-margin" *ngFor="let room of msg.rooms; let j = index" (click)="openRoom(room.room_id)">
									<ion-grid>
										<ion-row class="ion-justify-content-center">
											<ion-col class="ion-no-padding ion-no-margin">
												<div class="agent-icon">
													<ion-avatar mode="ios">
														<img class="room-img" src="{{room.display_pic_url}}" (load)="updateRoomPicLoaded(i)" [hidden]="!room.dp_loaded">
														<img class="room-img" src="../../../assets/imgs/plain-gray-background.jpeg" [hidden]="room.dp_loaded">
													</ion-avatar>
												</div>
											</ion-col>
										</ion-row>
									</ion-grid>
								</ion-slide>
								</ion-slides>
							<ion-item *ngIf="msg?.highlight">
								{{msg?.highlight?.message}} 
							</ion-item>
						</div>
						<ion-card-content padding-top style="background: #FCF3CF; width: 100%;">
							<p>{{msg?.message}}</p>
							<p class="ion-no-padding ion-no-margin ion-text-right">
								2 mins ago
							</p>
						</ion-card-content>
					</ion-card>
					<ion-card class="msg2-class" *ngIf="msg.from != user.uid" >
						<div *ngIf="msg?.highlight?.message || msg.rooms.length > 0" class="ion-no-padding ion-no-margin">
							<ion-slides class="swiper-container" pager= false [options]="slideOption" #slidesOne>
								<ion-slide tappable class="swiper-slide ion-no-padding ion-no-margin" *ngFor="let room of msg.rooms; let j = index" (click)="openRoom(room.room_id)">
									<ion-grid>
										<ion-row class="ion-justify-content-center">
											<ion-col class="ion-no-padding ion-no-margin">
												<div class="agent-icon">
													<ion-avatar mode="ios">
														<img class="room-img" src="{{room.display_pic_url}}" (load)="updateRoomPicLoaded(i)" [hidden]="!room.dp_loaded">
														<img class="room-img" src="../../../assets/imgs/plain-gray-background.jpeg" [hidden]="room.dp_loaded">
													</ion-avatar>
												</div>
											</ion-col>
										</ion-row>
									</ion-grid>
								</ion-slide>
								</ion-slides>
							<ion-item *ngIf="msg?.highlight">
								{{msg?.highlight?.message}} 
							</ion-item>
						</div>
						<ion-card-content padding-top style="background: #d9cffc; width: 100%;">
							<ion-checkbox mode="ios" (ionChange)="msgHighlight($event, i)"></ion-checkbox>
							<p>{{msg?.message}}</p>
							<p class="ion-no-padding ion-no-margin ion-text-right">
								2 mins ago
							</p>
						</ion-card-content>
					</ion-card>
				</div>
			</ion-list>
		</ion-row>
	</ion-grid>
</ion-content>
<ion-footer>
	<ion-item class="chatroom_input">
			<ion-textarea auto-grow="true" cols="8" placeholder="Type message here..." [(ngModel)]="new_message.message" 
			(keydown)="handleTyping($event)"></ion-textarea>
	    <ion-button fill="clear" color="thapsblue" (click)="send()">
	      <ion-icon name="paper-plane-outline" style="font-size: 30px"></ion-icon>
	    </ion-button>
	    <!-- <button ion-button  clear item-right (click)="attachApartment()">
	      <ion-icon name="attach" style="font-size: 30px"></ion-icon>
	    </button> -->
	</ion-item>
</ion-footer>