<ion-header>
  <ion-toolbar color="thapsblue">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Forgot password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding" style="background-color: transparent;">
    <div class="register-form ion-margin" style="background-color: transparent;">
        <ion-text color="dark">
            <h3 text-center class="ion-margin-bottom main-header7">
                Please enter your password so that we can send a password reset link to your email.
            </h3>
        </ion-text>
        <form [formGroup]="registerForm" novalidate>
          <ion-list class="ion-margin-top ion-padding" style="background-color: transparent;">
            <ion-item  class="roundedInput8px margin-bottom-10" style="background-color: transparent;">
                <ion-label>
                  <ion-icon name="mail-outline" color="medium"></ion-icon>
                  </ion-label>
                <ion-input type="text" formControlName="username" placeholder="Username(email)"></ion-input>
                </ion-item>                           
          </ion-list>
          <ion-text color="danger">
              <p *ngIf="!registerForm.controls.username.valid && registerForm.controls.username.touched">
                  <ion-icon name="information-circle-outline"></ion-icon> This is not a valid email address
              </p>
          </ion-text>
          <ion-button mode="ios" color="thapsblue" expand="block" class="ion-margin-top" [disabled]="!registerForm.valid"
              (click)="reset()">
              Reset Password
          </ion-button>
        </form>
    </div>
</ion-grid>
</ion-content>
