<ion-header>
  <ion-toolbar color="thapsblue">
    <ion-buttons slot="start">
      <ion-back-button mode="md" color="light" defaultHref="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Search feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-grid>
    <ion-row>
      <ion-col size-sm="0" size-lg="2">
      </ion-col>
      <ion-col size="12" size-lg="8">
        <ion-list style="width: 100%; background-color: transparent;">
          <ion-card>
            <ion-item lines="none">
              <ion-avatar slot="start">
                <!-- <img src="{{user?.photoURL}}" (load)="updateDisplayPicLoaded()" [hidden]="!displayPicLoaded">
			          <img src="https://ionic-docs-demo.herokuapp.com/assets/avatar.svg" [hidden]="displayPicLoaded"> -->
                <img src="https://ionic-docs-demo.herokuapp.com/assets/avatar.svg">
              </ion-avatar>
              <ion-label color="thapsblue"><h3 class="ion-text-wrap">Thapelo Seema</h3></ion-label>
            </ion-item>
            <ion-item lines="none"> 
              <ion-icon name="home-outline" slot="start"></ion-icon>
              <ion-label>
                <p>Single Room</p>
              </ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-icon name="card-outline" slot="start"></ion-icon>
              <ion-label>
                <p>CASH</p>
              </ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-icon name="calculator-outline" slot="start"></ion-icon>
              <ion-label>
                <p>R3500</p>
              </ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-icon name="navigate-circle-outline" slot="start"></ion-icon>
              <ion-label>
                <p class="ion-text-wrap">UJ Kingsway Campus and surrounding areas</p>
              </ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-icon name="transgender-outline" slot="start"></ion-icon>
              <ion-label>
                <p>Females only</p>
                <p class="ion-no-padding ion-no-margin ion-text-right time-font">
                  2 mins ago
                </p>
              </ion-label>
            </ion-item>
            <div class="ion-padding">
              <ion-button expand="block" color="thapslightblue">
                <ion-text color="light">Take Job</ion-text> 
                <ion-icon name="bag-check-outline" slot="end" color="light"></ion-icon>
              </ion-button>
            </div>
          </ion-card>
        </ion-list>
      </ion-col>
      <ion-col size-sm="0" size-lg="2"></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
