<ion-header>
  <ion-toolbar color="thapsblue">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-chip tappable (click)="gotoProfile()">
            <ion-avatar>
              <img src="{{user?.photoURL}}" (load)="updateDisplayPicLoaded()" [hidden]="!displayPicLoaded">
			        <img src="https://ionic-docs-demo.herokuapp.com/assets/avatar.svg" [hidden]="displayPicLoaded">
            </ion-avatar>
            <ion-label color="light">
              {{user.firstname}}
            </ion-label>
          </ion-chip>
        </ion-col>
        <ion-col>  
        </ion-col>
        <ion-col>
            <h6>online</h6>
            <ion-toggle checked="user.online" color="success" (ionChange)="updateOnlineStatus($event)">
            </ion-toggle>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-tab-button (click)="gotoUpload()">
          <ion-icon color="thapsblue" name="cloud-upload-outline"></ion-icon>
          <ion-label color="thapsblue"><b>Upload</b></ion-label>
        </ion-tab-button>
      </ion-col>
      <ion-col>
        <ion-tab-button (click)="gotoSearchfeed()">
          <ion-icon color="thapsblue" name="search-outline"></ion-icon>
          <ion-label color="thapsblue"><b>Feed</b></ion-label>
        </ion-tab-button>
      </ion-col>
      <ion-col>
        <ion-tab-button (click)="addLandlord()" >
          <ion-icon color="thapsblue" name="add-circle-outline"></ion-icon>
          <ion-label color="thapsblue"><b>Landlord</b></ion-label>
        </ion-tab-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-grid>
    <ion-row>
      <ion-col size-xs="0" size-md="2" size-lg="3"></ion-col>
      <ion-col size-xs="12" size-md="10" size-lg="6">
        <ion-card *ngIf="showVerifyButton">
          <ion-item color="warning" href="{{sendWhatsAppVerifyLink()}}">
            <ion-icon name="arrow-redo-circle-outline" slot="end"></ion-icon>
            <ion-label>
              Submit Profile For Verification
            </ion-label>
          </ion-item>
        </ion-card>
        <ion-card color="thapsblue" class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col size="2" class="ion-no-padding">
              <ion-item color="thapsblue">
                <ion-icon name="bed-outline"></ion-icon>
              </ion-item>
            </ion-col>
            <ion-col size="10" class="ion-no-padding">
              <ion-item tappable (click)="gotoAvailable()">
                <ion-icon class="card-icon" slot="end" name="chevron-forward-outline"></ion-icon>
                <ion-label>
                  <h2>Available Rooms</h2>
                </ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card tappable (click)="gotoProfile()" color="thapslightblue" class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col size="2" class="ion-no-padding">
              <ion-item color="thapslightblue">
                <ion-icon class="card-icon" color="light" name="person-outline"></ion-icon>
              </ion-item>
            </ion-col>
            <ion-col size="10" class="ion-no-padding">
              <ion-item>
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
                <ion-label>
                  <h2>Profile</h2>
                </ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card  tappable color="thapslightblue" class="ion-no-padding" (click)="gotoAppointments()">
          <ion-row class="ion-no-padding">
            <ion-col size="2" class="ion-no-padding">
              <ion-item color="thapslightblue">
                <ion-icon class="card-icon" color="light" name="hourglass-outline"></ion-icon>
              </ion-item>
            </ion-col>
            <ion-col size="10" class="ion-no-padding">
              <ion-item>
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
                <ion-label>
                  <h2>Appointments</h2>
                </ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-grid>
          <ion-row>
            <ion-col size="6"> 
              <ion-card tappable (click)="gotoMyUploads()">
                <div class="ion-text-center ion-padding">
                  <ion-icon name="cloud-upload-outline" style="font-size: x-large;" color="thapsblue"></ion-icon>
                </div>
                <ion-item>
                  <ion-label>
                    <h2 class="ion-text-wrap ion-text-center"><ion-text color="thapsblue">My</ion-text></h2>
                    <h2 class="ion-text-wrap ion-text-center"><ion-text color="thapsblue">Uploads</ion-text></h2>
                  </ion-label>
                </ion-item>
              </ion-card>
            </ion-col>
            <ion-col size="6">
              <ion-card>
                <div class="ion-text-center ion-padding">
                  <ion-icon name="person-outline" style="font-size: x-large;" color="thapsblue"></ion-icon>
                </div>
                <ion-item>
                  <ion-label>
                    <h2 class="ion-text-wrap ion-text-center"><ion-text color="thapsblue">My</ion-text></h2>
                    <h2 class="ion-text-wrap ion-text-center"><ion-text color="thapsblue">Landlords</ion-text></h2>
                  </ion-label>
                </ion-item>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col size-xs="0" size-md="2" size-lg="3"></ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
