<ion-header>
  <ion-toolbar color="thapsblue">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-chip tappable (click)="gotoProfile()">
            <ion-avatar>
              <img src="{{user?.photoURL}}" (load)="updateDisplayPicLoaded()" [hidden]="!displayPicLoaded">
			        <img src="https://ionic-docs-demo.herokuapp.com/assets/avatar.svg" [hidden]="displayPicLoaded">
            </ion-avatar>
            <ion-label color="light">
              {{user.firstname}}
            </ion-label>
          </ion-chip>
        </ion-col>
        <ion-col>  
        </ion-col>
        <ion-col>
            <h6>online</h6>
            <ion-toggle checked="user.online" color="success" (ionChange)="updateOnlineStatus($event)">
            </ion-toggle>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-tab-button (click)="gotoUpload()">
          <ion-icon color="thapsblue" name="cloud-upload-outline"></ion-icon>
          <ion-label color="thapsblue"><b>Upload</b></ion-label>
        </ion-tab-button>
      </ion-col>
      <ion-col>
        <ion-tab-button (click)="gotoSearchfeed()">
          <ion-icon color="thapsblue" name="search-outline"></ion-icon>
          <ion-label color="thapsblue"><b>Search</b></ion-label>
        </ion-tab-button>
      </ion-col>
      <ion-col>
        <ion-tab-button (click)="addLandlord()" >
          <ion-icon color="thapsblue" name="add-circle-outline"></ion-icon>
          <ion-label color="thapsblue"><b>Landlord</b></ion-label>
        </ion-tab-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  
  <ion-card tappable (click)="gotoJob()"> 
    <ion-item>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      <ion-label>
        <h2>Current Job</h2>
        <p *ngIf="!search?.institution_address">No current job</p>
        <p *ngIf="search?.institution_address" class="ion-text-wrap">{{search?.room_type}} | {{search?.institution_address?.neighbourhood}} and surroundings</p>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card color="thapsblue" class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col size="2" class="ion-no-padding">
        <ion-item color="thapsblue">
          <ion-icon name="chatbubbles-outline"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col size="10" class="ion-no-padding">
        <ion-item tappable (click)="gotoMyChats()">
          <ion-icon class="card-icon" slot="end" name="chevron-forward-outline"></ion-icon>
          <ion-label>
            <h2>Chats</h2>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card tappable (click)="gotoProfile()" color="thapslightblue" class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col size="2" class="ion-no-padding">
        <ion-item color="thapslightblue">
          <ion-icon class="card-icon" color="light" name="cloud-upload-outline"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col size="10" class="ion-no-padding">
        <ion-item>
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
          <ion-label>
            <h2>Profile</h2>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card  tappable color="thapslightblue" class="ion-no-padding" (click)="gotoAppointments()">
    <ion-row class="ion-no-padding">
      <ion-col size="2" class="ion-no-padding">
        <ion-item color="thapslightblue">
          <ion-icon class="card-icon" color="light" name="hourglass-outline"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col size="10" class="ion-no-padding">
        <ion-item>
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
          <ion-label>
            <h2>Appointments</h2>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-card>
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card tappable (click)="gotoMyUploads()">
          <ion-item>
            <ion-label>
              <h2>My Uploads</h2>
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-item>
            <ion-label>
              <h2>My Landlords</h2>
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
