<ion-header>
  <ion-toolbar color="thapsblue">
    <ion-buttons slot="start">
      <ion-back-button mode="md" color="light" defaultHref="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Viewing Appointment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  

  <ion-datetime (ionChange)="datetimeChanged($event)">
    <ion-buttons>
      <ion-button>
        Confirm Appointment
      </ion-button>
      <ion-button>
        Cancel
      </ion-button>
    </ion-buttons>
  </ion-datetime>

</ion-content>
