<ion-header>
  <ion-toolbar color="thapsblue">
    <ion-buttons slot="start">
      <ion-back-button mode="md" color="light" defaultHref="#"></ion-back-button>
    </ion-buttons>
    <ion-title>My Uploads</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container" *ngIf="my_rooms.length == 0">
    <ion-icon name="bulb-outline" class="empty-icon-circle icon-large empty-icon-color"></ion-icon>
    <br>
    <strong class="capitalize">
      <ion-text color="lightgray">No Uploads</ion-text>
    </strong>
   <!--  <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI
        Components</a></p> -->
  </div>
  <ion-item *ngFor="let room of my_rooms; let i = index" (click)="gotoRoom(room.room_id)" class="ion-margin">
    <ion-avatar slot="start">
      <img src="{{room.display_pic_url}}" (load)="updateDisplayPicLoaded(i)" [hidden]="!room.dp_loaded">
			<img src="../../../assets/imgs/plain-gray-background.jpeg" [hidden]="room.dp_loaded">
    </ion-avatar>
    <ion-label>
      <h3>{{ room.rent | currency : 'ZAR' : 'symbol' :'1.0-0' }} {{room.room_type}}
      </h3>
      <p *ngIf="room.property.address.house_number != ''">
        {{room.property.address.house_number}} {{room.property.address.street}}, 
        {{room.property.address.neighbourhood}}
      </p>
      <p *ngIf="room.property.address.house_number == ''">
        {{room.property.address.place_name}}
      </p>
    </ion-label>
  </ion-item>
</ion-content>
